@import './src/scss/scss';

body { 
    margin: 0; 
    font-family: $default-font, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

h2 {
    margin: 0;
    font-size: 32px;
}

#main-hero {
    background-color: $deepBrown;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100vw;

    #hero-left {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        padding: 3em;
        vertical-align: middle;
        width: 50%;

        #hero-title {
            margin: auto;
            max-width: 500px;
            width: fit-content;

            #description-tags { font-size: 32px; }

            #webdev { color: $lightGreen; }
            
            #swe { color: $rust; }
            
            #uxd { color: $softBlue; }
        }
    }

    #hero-right {
        align-items: center;
        direction: rtl;
        display: flex;
        overflow: hidden;
        width: 50%;
        img {
            height: 100vh;
            object-fit: cover;
            width: 100%;
        }

        #photo-credit {
            bottom: 0;
            direction: ltr;
            font-size: 8pt;
            opacity: 0.5;
            padding-right: 3px;
            position: absolute;
            right: 0;
        }
    }
}

#about-me {
    background-color: $paleGrey;
    color: $deepBrown;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100vw;

    a {
        color: $rust;
        text-decoration: none;
        &:visited {
            color: $lightGreen;
        }
        &:hover {
            color: $softBlue;
            text-decoration: underline;
        }
    }

    p {
        font-weight: 600;
    }

    ul {
        font-size: 11pt;
        font-weight: 600;
        list-style-type: none;
        padding: 0;
    }

    #about-left {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 0 50px;
        width: 60%;

        #about-text {
            margin: 8em auto;
            max-width: 550px;
        }
    }

    #about-right {
        display: flex;
        flex-direction: column;
        padding: 0 50px;
        position: relative;
        width: 40%;

        #skill-lists {
            margin: 8em 0;

            #list-2 {
                display: none; /* still working out how to animate this! */
            }
        }

        #trees {
            bottom: 0;
            height: auto;
            line-height: 0;
            margin-right: 15%;
            position: absolute;
            right: 0;

            #tree-1 {
                height: 100px;
            }

            #tree-2 {
                height: 75px;
            }
        }
    }
}

#projects-section {
    align-items: center;
    background-color: #42432D;
    color: $white;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;

    h2 {
        padding: 2rem 0; /* top-bottom, left-right */
    }

    #project-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px; /* row gap, column gap */
        justify-content: center;
        margin: auto;
        max-width: 1000px;
    }
}

/* FOOTER */
#footer {
    color: $paleGrey;
    display: flex;
    align-items: center;
    font-family: $handwriting;
    justify-content: space-between;
    background-color: $deepBrown;
    height: 100px;

    .icon-bar {
        width: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .credits {
        padding: 0 10px;
        margin: 0;
    }
}

/* CARD STYLES & ANIMATION */
.card {
    background-color: transparent;
    perspective: 1000px;
    width: 250px;
    height: 250px;

    p {
        font-size: 18pt;
        line-height: 1;
        margin: 0 10px;
    }

    .card-inner {
        align-items: center;
        background-color: $paleGrey;
        border-radius: 5px;
        box-shadow: 5px 5px 10px $deepBrown; /* offset-x | offset-y | blur-radius | color */
        color: $deepBrown;
        display: flex;
        flex-direction: column;

        font-family: $handwriting;
        font-size: 20pt;

        height: 100%;
        position: relative;
        text-align: center;
        transform-style: preserve-3d;
        transition: transform 0.8s;
        width: 100%;
    }

    &:hover .card-inner {
        transform: rotateY(180deg); /* rotate card on hover */
    }

    .card-front, .card-back {
        backface-visibility: hidden;
        height: 100%;
        position: absolute;
        width: 100%;
    }

    /* Style the front side */
    .card-front {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        .title {
            width: 100%;
            padding: 5px 0 10px 0;

            h3 {
                font-size: 32px;
                line-height: 1.5;
                overflow: hidden;
                margin: 0;
            }
        }
    
        .card-content {
            width: 200px;
            aspect-ratio: 1 / 1;
            margin: 20px auto 0 auto;
            overflow: hidden;
    
            img {
                height: 100%;
                width: 100%;
                object-position: left top;
                object-fit: cover;
            }
        }
    }

    /* Style the back side */
    .card-back {
        background-color: $paleGrey;
        transform: rotateY(180deg);
    }
}

/* MOBILE */
@media screen and (max-width: 800px) {
    #main-hero, #about-me {
        flex-direction: column;
    }

    #main-hero {
        #hero-right, #hero-left { width: 100%; }
        #hero-left {
            padding: 20px;
            margin: auto;
        }

        #hero-right {
            img { width: 100%; height: auto; }
            #photo-credit {
                display: none; /* temporary workaround - Blaine needs credit!! */
            }
        }
    }

    #about-me {
        #about-right, #about-left { width: auto; padding: 20px 50px; }
        #about-left {
            align-items: flex-start;
            padding-bottom: 20px;
            #about-text { margin: 0; max-width: 100%; }
        }
        #about-right {
            #skill-lists { width: auto; margin: auto 0; }
        }
    }
}

@media screen and (max-width: 450px) {
    #about-me {
        #about-right, #about-left { width: auto; padding: 20px; }
    }
}