$primary-accent: #1C687C;
$mint: #A4C3B2;
$rose: #BD6B73;
$forestGreen: #343A1A;
$black: #342E37;
$white: #E7EFEB;

$default-font: 'Istok Web';
$handwriting: 'Just Me Again Down Here';
$pixel-font: 'Silkscreen';

$left-menu-width: 200px;
$right-menu-width: 175px;
$menu-padding: 5px;
$bordered-window: solid $primary-accent;
$bordered-window-width: 20px 4px 4px 4px;